<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hero.ms.service.tree.mapper.ProTypeMapper">
    <resultMap id="ProTypeBaseResultMap" type="com.hero.ms.service.tree.entity.ProType">
        <id column="CODE_ID" property="codeId" jdbcType="VARCHAR"/>
        <result column="PRO_ID" property="proId" jdbcType="VARCHAR"/>
        <result column="PRO_NAME" property="proName" jdbcType="VARCHAR"/>
        <result column="SORT_NO" property="sortNo" jdbcType="INTEGER"/>
    </resultMap>

    <select id="findAll" resultMap="ProTypeBaseResultMap">
		SELECT t.CODE_ID, t.PRO_ID, t.PRO_NAME, t.SORT_NO FROM tbl_tynl_pro_code t ORDER BY t.SORT_NO
	</select>

</mapper>